# Python
social-auto-upload/.venv/
social-auto-upload/__pycache__/
social-auto-upload/*.pyc
social-auto-upload/db/database.db

# Cookies & credentials
social-auto-upload/cookies/
social-auto-upload/*.json

# Media uploads
social-auto-upload/videos/
social-auto-upload/qrcode.png
